body {
    font-family: 'Times New Roman', Times, serif;
}

fieldset {
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
    background: #F8F8F8;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    cursor: pointer;
}

input { /* OUUUU input[type="text"] */
    width: 20em;
}

textarea {
    width: 20em;
    height: 10em;
}

input.radio, input.checkbox, input.submit {
    width: auto;
}

.radio {
    margin-right: 1em;
}